@model IEnumerable<Expense.Models.Form>



<h3>Forms</h3>
<hr class="style-seven" />
<table class="table table-bordered">
    <thead>
        <tr>

            <th>Form Name</th>
            <th>Date</th>
            <th>Description</th>
            <th>Total Cost</th>
            <th>Actions</th>

        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr>

            <td>
                @item.Name
            </td>

            <td>
                @item.Date
            </td>
            <td>
                @item.Description
            </td>
            <td>
                @item.Total
            </td>

            <td>
                @Html.ActionLink("View", "List", "Expense", new { id = item.Id }, null)

            </td>
        </tr>

    }

</table>
